@model List<project1LA.Models.Roles>
@{
    ViewBag.Title = "Create";
}

<h2>Create new user</h2>


<h2> Usual way</h2>
<div>
    <form action="/User/Create" method="post" class="form">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" name="name" class="form-control" />
            <label>Email:</label>
            <input type="text" name="email" class="form-control" />
            <br />
            <select class="form-control" aria-label="Default select example" name="rol" >
                <option value="">Seleccione un rol</option>
                @foreach (var item in Model)
                {
                    <option value="@item.Description">@item.Description</option>
                }
            </select>
            <div class="success-message">
                @TempData["rolRequerido"]
            </div>
        </div>


        <input type="submit" value="Save" class="btn btn-primary" />
    </form>
</div>

